{% extends "base.html" %}

{% block content %}

    {% if user.getAVGScore %}
        <p>Minha pontuação média:</p>
        <p>{{ user.getAVGScore }}</p>
        {% if comments %}
        <p>Comentários recebidos:</p>
            {% for comment in comments %}
            <p>{{ comment }}</p>
            {% endfor%}
        {% endif %}
    {% else %}
        <p>Ainda não recebeu nenhuma pontuação.</p>
    {% endif %}

    <p>Avaliados:</p>
    {% for member in voted %}
        <p>{{ member.firstname }}</p>
        <p>{{ member.surname }}</p>
        <p>{{ member.getAVGScore }}</p>
    {% endfor %}

    <p>Não avaliados:</p>
    {% for member in notvoted %}
        <p>{{ member.firstname }}</p>
        <p>{{ member.surname }}</p>
        <form method="POST" action="{% url 'scores' subject.id %}">
            {% csrf_token %}
            <input type="hidden" id={{member.id}} name="member_id" value={{member.id}}>
            <input type="radio" id="1" name="score" value="1">
            <label for="1"}>1</label>

            <input type="radio" id="2" name="score" value="2">
            <label for="2"}>2</label>

            <input type="radio" id="3" name="score" value="3">
            <label for="3"}>3</label>

            <input type="radio" id="4" name="score" value="4">
            <label for="4"}>4</label>

            <input type="radio" id="5" name="score" value="5">
            <label for="5"}>5</label>
            <label>Comentário (opcional)</label>
            <input  class="form-control" type='text' name="description">
            <input type="submit" value="Avaliar">
        </form>
    {% endfor %}

{% endblock %}