{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1">
        <h1 class="text-center" id="area_student_title">Area de estudante : {{ user.firstname }} {{ user.surname}} <br>
            Detalhes de tarefa - {{ task.name }}
        </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
             <a class="text-center btn btn-block btn-outline-dark" href="{% url 'tasks' task.group.subject.id %}">Back</a>
        </div>
    </div>
</div>

{% if task.finished == True %}
<div class="container">
    <div class="row"> 
        <div class=" col-lg-3  offset-lg-2" >
            <ul>
                <li><p>Grupo: {{ task.group }}</p> </li>
                <li> <p>Responsável: {{ task.owner.firstname }}</p></li>
                <li> <p>Nome: {{ task.name }}</p></li>
                <li>  <p>Descrição: {{ task.description }}</p></li>
                <li> <p>Prazo: {{ task.deadline }}</p></li>
                <li><p>Tempo dedicado: {{ task.hours_dedicated }}h:{{ task.minutes_dedicated }}m</p> </li>
                <li> <p>Concluida: {{ task.finished }}</p></li>
                
            </ul>

        </div>
    </div>
</div>
{% else %}
<br>
<div class="container">
    <div class="row"> 
        <div class=" col-lg-3  offset-lg-2" >
            <ul>
                <li><p>Grupo: {{ task.group }}</p> </li>
                <li> <p>Responsável: {{ task.owner.firstname }}</p></li>
                <li> <p>Nome: {{ task.name }}</p></li>
                <li>  <p>Descrição: {{ task.description }}</p></li>
                <li> <p>Prazo: {{ task.deadline }}</p></li>
                <li><p>Tempo dedicado: {{ task.hours_dedicated }}h:{{ task.minutes_dedicated }}m</p> </li>
                <li> <p>Concluida: {{ task.finished }}</p></li>
                
            </ul>
            <!-- <p>Grupo: {{ task.group }}</p>
            <p>Responsável: {{ task.owner.firstname }}</p>
            <p>Nome: {{ task.name }}</p>
            <p>Descrição: {{ task.description }}</p>
            <p>Prazo: {{ task.deadline }}</p>
            <p>Tempo dedicado: {{ task.hours_dedicated }}h:{{ task.minutes_dedicated }}m</p>
            <p></p> -->
            
        </div>
            {% if task.owner == None %}
            
            <div class="col-lg-3 offset-lg-2 text-center">
                <h2>Editar tarefa:</h2>
                <form  class="form-group" method="POST" action="{% url 'this-task' task.id %}">
                    {% csrf_token %}
                    <label>Nome</label>
                    <input  class="form-control" type='text' name="name" >
                    <br>
                    <label>Descrição</label>
                    <input  class="form-control" type='text' name="description" required="">
                    <br>
                    <label>Prazo</label>
                    <input  class="form-control" type='date' name="deadline" required="">
                    <br>
                    <input class="btn btn-outline-success" type="submit" value="Editar">
                </form>
                <div class="border border-warning text-center">
                    <p class="text-danger">Quer ser o Responsável por esta tarefa?</p>
                    <div>               
                        <form method="POST" action="{% url 'this-task' task.id %}">
                        {% csrf_token %}
                        <input  type="radio" id="assign" name="assign" value="yes" required="">
                        <label for="yes"> Sim</label><br>   
                        <input class="btn btn-success" type="submit" value="Designar"> 
                        </form>
                    </div>

                </div>

            </div>

            {% else %}
                {% if task.owner == user %}
                <div class="col-lg-3 offset-lg-2 text-center">
                <h4>Adicionar contribuição:</h4>
                <form method="POST" action="{% url 'this-task' task.id %}">
                    {% csrf_token %}
                    <label>Adicionar horas</label>
                    <input class="form-control" type='text' name="hours_dedicated" required="">
                    <br>
                    <label>Adicionar minutos</label>
                    <input class="form-control" type='text' name="minutes_dedicated" required="">
                    <br>
                    <input class="btn btn-success" type="submit" value="Adicionar tempo">
                </form>
                </div>

                <div class="border border-warning text-center">
                    <p class="text-danger">Quer concluir esta tarefa?</p>
                    <div>               
                        <form method="POST" action="{% url 'this-task' task.id %}">
                        {% csrf_token %}
                        <input  type="radio" id="finish" name="finish" value="yes" required="">
                        <label for="yes"> Sim</label><br>   
                        <input class="btn btn-success" type="submit" value="Concluir"> 
                        </form>
                    </div>
                </div>

                {% endif %}
            {% endif %}

        </div>
    </div>
{% endif %}

{% endblock %}