{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
            {% if user.is_student %}
                <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'logged-student' %}">Back</a>
                {% else %}
                <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'logged-teacher' %}">Back</a>
                {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row centerd">
        <div class="col-lg-4 offset-lg-4" id="new_meeting_container">
            <form method="POST" action="/chat/">
                {% csrf_token %}
                <label>Nome do utilizador (primeiro ou último):</label>
                <input class="form-control" type='text' name="name" required="">
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Procurar">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}