/* logine_home */

#form_area {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.logg_form{
    padding-top: 20px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
     
}
/* HEADER */
#header_icon_user{
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}
#header_icon_user:hover{
    background-color: rgb(146, 146, 146);
}
#link_home_header{
    text-decoration: none;
    border-radius: 5px;
    color: black;
    width: 40px;
}
#link_home_header:hover{
    background-color: rgb(146, 146, 146);

}
#header_icon_chat{
    text-decoration: none;
    border-radius: 5px;
    color: black;
    width: 40px;
    text-align: center;
}
#header_icon_chat:hover{
    background-color: rgb(146, 146, 146);
}
#header_icon_exit{
    border-radius: 5px;
}
#header_icon_exit:hover{
    background-color: rgb(241, 184, 184);
}
.navbar-brand{
    font-family: Marker Felt, fantasy;
    color: black;
    /* font-weight: bold */
}


/* logged_student */


#tab_link{
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    padding-bottom: 20px;
}

#link_nav{
    border: 1px solid rgb(117, 116, 116);
    border-radius: 15px;
    background-color:rgb(211, 208, 208);

}
#link_nav:hover{
    background-color:rgb(146, 146, 146);
    color: black;
}
#link_nav_exit{
    border-radius: 15px;
    background-color: rgb(241, 184, 184);
}
#link_nav_exit:hover{
    background-color: red;
    color: white;
    /* color: black; */
}


/* logged_teacher */
.upload_file{
    border: 1px solid black;
}

/* forum-sel-subject */
#link_nav_forum{
    border: 1px solid rgb(117, 116, 116);
    /* border-top: 1px solid rgb(0, 0, 0); */
    border-radius: 15px;
    background-color:rgb(211, 208, 208);
    padding-bottom: 10px;

}
#link_nav_forum:hover{
    background-color:rgb(146, 146, 146);
    color: black;
}

#forum_tab_link{
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    padding-bottom: 25px;
}

/* forum */
#forum_container{
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}
/* #line_forum{
    border-radius: 10px;
} */
#line_forum:hover{
    background-color:rgb(211, 209, 209) ;
}
/* #forum_header_table{
    width: 100%;
    background-color: rgb(131, 131, 131);
} */
#forum_create{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

#forum_container_info{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

#forum_container_delet_post{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
} 

/* feedback */
#feedbak_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

/* group-files */
#group_file_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

/* score */
#srore_member_yes{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

#srore_member_no{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}


/* tasks */
#list_task_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    overflow-y: scroll;
    height: 400px;
}

#task_for_do{
    border-radius: 15px;
    background-color:rgb(177, 174, 174);

}

#task_for_do:hover{
    background-color:rgb(180, 179, 179);
    color: black;
}

#task_done{
    border-radius: 15px;
    background-color:rgba(151, 149, 149, 0.623);

}
#task_done:hover{
    background-color:rgb(202, 175, 175);
    color: black;
}


#create_task_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

/* stages */
#stages_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}



/* meetings.html */
#bg_link{
    background-color: rgb(173, 171, 171);
    border-radius: 5px;
    color: black;
}
#bg_link:hover{
    background-color: rgb(190, 188, 188);
    text-decoration: underline;
}

#new_meeting_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#this_meeting_container{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}
#meetigs_list_container{
    background-color:rgb(209, 205, 205);
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* myContacts.html */

#btn_contacts{
    background-color: rgb(173, 171, 171);
    color: black;
}
/* myChat */
#chatContainer{
    height: 550px;
    border: 1px solid black;
    overflow-y: scroll;
    
}

/* group-sub teacher */
#list_groups{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(179, 178, 178);
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    
}
#list_groups  :hover {
    background-color:  rgb(104, 104, 104);
    color: white;
    
}

/* groups-rules */
#rules_form{
    max-width: 350px;
}
#rules_form{
    max-width: 350px;
}

/* shedule */
#chedule_contaioner{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

#users_container{
    border-right: 1px solid black;
    padding-top: 40px;

}

#teacher_list{
    padding-left: 15px;
}

#teacher{
    padding-left: 15px;
}

#sudent_list{
    padding-left: 15px;
}
#student{
    padding-left: 15px;
}