<!DOCTYPE html>
<html>
<head>
<title>    
</title>    
</head>
<body>
<h1>Area de Grupo - {{ group.name }} de {{ group.subject}} </h1>
<br>
<a href="{% url 'view-feedback' subject.id %}">Feedback</a>
<br>
<a href="#">Fóruns</a>
<br>
<a href="#">Mensagens de grupo</a>
<br>
<a href="#">Artefactos</a>
<br>
<a href="#">Pontuação</a>
<br>
<a href="{% url 'tasks' subject.id %}">Tarefas</a>
<br>
<a href="{% url 'stages' subject.id %}">Etapas</a>
<br>
<a href="{% url 'meetings' subject.id %}">Reuniões</a>
<br>
<a href="{% url 'leave-group' subject.id %}">Sair deste grupo</a>
<br>
<a href="{% url 'select-subject' %}">Back</a>
</body>    
</html>