<!DOCTYPE html>
<html>
<head>
<title>    
</title>    
</head>
<body>
<h1>Nova reunião - {{ group.name }} de {{ group.subject}} </h1>
<br>

<div>
    <form method="POST" action="{% url 'new-meeting' subject.id %}">
        {% csrf_token %}
        <label>Nome</label>
        <input type='text' name="name">
        <br>
        <label>Local</label>
        <input type='text' name="location">
        <br>
        <label>Descrição</label>
        <input type='text' name="description">
        <br>
        <label>Data</label>
        <input type='date' name="date">
        <br>
        <input type="submit" value="Marcar reunião">
    </form>
</div>
<a href="{% url 'meetings' subject.id %}">Back</a>
</body>    
</html>