{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row centered">
    <div class="col-lg-6 offset-lg-3 logg_form">
      <h1 class="h3 mb-3 font-weight-normal text-center">Login home</h1>
  <br>
    <form id="form_area" method="POST" action="{% url 'login-home' %}" class="form-signin">
      {% csrf_token %}
      
      <label class="text-info text-dark">Email:</label>
      <input class="form-control" type='text' name="email" placeholder="Email address" required="" autofocus="">
      
      <br>
      
      <label class="text-info text-dark">Password:</label>
      <input type='password' name="password"  class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">

        <br>
        <br>
      <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
    </form>

    </div>
  </div>
  
</div>

{% endblock %}

{% block script %}

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){
  
  var logForm = $(".form-signin")
  logForm.submit(function(event){
    event.preventDefault()
    var formData = $(this).serialize()
    var endpoint = logForm.attr("data-url") || window.location.href
    
    $.ajax({
      method: "POST",
      url: endpoint,
      data: formData,
      success: function(response){
        if(response['result'] == 'failed'){
          $(".logg_form").append("<div class='alert alert-danger'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+response["message"]+"</div>")
        }
        else{
          window.location = "/"+response["href"]+"/"
        }
      },
    })   
  })

})
</script>

{% endblock %}