{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1">
        <h1 class="text-center" id="area_student_title">Aceder à página de que disciplina? </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
            {% if user.is_student %}
                <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'logged-student' %}">Back</a>
                {% else %}
                <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'logged-teacher' %}">Back</a>
                {% endif %}
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row centered"> 
        <div class=" col-lg-4  offset-lg-4" id="tab_link">
                {% for subject in user.subjects.all %}
                <br>
                <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'subject-page' subject.id %}">{{ subject.name }}</a>
                <br>
                {% endfor %}
                <br>
                <!-- {% if user.is_student %}
                <a id="link_nav" class="text-center btn btn-block text-danger btn-outline-dark" href="{% url 'logged-student' %}">Back</a>
                {% else %}
                <a id="link_nav" class="text-center btn btn-block text-danger btn-outline-dark" href="{% url 'logged-teacher' %}">Back</a>
                {% endif %} -->
            </div>
 </div>      
 </div>     
{% endblock %}