{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1">
        <!-- <h1 class="text-center" id="area_student_title"> {{ user.firstname }} {{ user.surname}} <br> -->
            <h1 class="text-center" id="area_student_title">Area de etapas de {{subject}} </h1>
        <!-- </h1> -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
            <a id="link_nav" class="text-center btn btn-block btn-outline-dark"  href="{% url 'groups-subject' subject.id %}"> Back</a>
        </div>
    </div>
</div>


<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            {% for stage in stages %}
                <p>Número:{{ stage.number }}</p>
                <p>{{ stage.name }}</p>
                <p>{{ stage.description }}</p>
                <p>{{ stage.deadline }}</p>
                <br>
                {% if user.is_student %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <input type="hidden" name="stage" value={{ stage.id|stringformat:"i" }}>
                        <button type="submit">Upload/Update</button>
                    </form>
                    <br>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="submission" value={{ stage.id|stringformat:"i" }}>
                        <button type="submit">Download</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
            {% if user.is_teacher %}
            <div class="col-lg-4 offset-lg-2">
                <p>Criar nova etapa</p>
                <div>
                    <form method="POST" action="{% url 'stages' subject.id %}">
                        {% csrf_token %}
                        <label>Nome</label>
                        <input type='text' name="name">
                        <br>
                        <label>Descrição</label>
                        <input type='text' name="description">
                        <br>
                        <label>Prazo</label>
                        <input type='date' name="deadline">
                        <br>
                        <input type="submit" value="Criar etapa">
                    </form>
                </div>
            </div> 
            
            {% endif %}
        
    </div>
</div>


{% endblock %}