{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1 text-center">
           <h1 class="text-center" >Disciplina de {{ subject.name }} </h1><br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
             <a class="text-center btn btn-block btn-outline-dark" href="{% url 'select-subject' %}">Back</a>
        </div>
        <div class="col-lg-4 offset-lg-2">
            <a class="text-center btn btn-block btn-dark" href="{% url 'groups-rules' subject.id %}">Regras de grupos</a>
            
        </div>
        <div class="col-lg-4 ">
            <a class="text-center btn btn-block btn-dark" href="{% url 'stages' subject.id %}">Etapas do projeto</a>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row centered">
        <div class="col-lg-3 offset-lg-2">
            <div id="list_groups">
                {% for group in groups %}
                <a class="btn btn-block" href="{% url 'this-group' group.id %}">Grupo {{ group.name }}</p>
               {% endfor %}   
            </div> 
        </div>
    </div>
</div>
  

{% endblock %}