<!DOCTYPE html>
<html>
<head>
<title>    
</title>    
</head>
<body>
<h1>Login home</h1>
<div>
    <form method="POST" action="{% url 'login-home' %}">
      {% csrf_token %}
      <label>email</label>
      <input type='text' name="email">
  
      <label>password</label>
      <input type='password' name="password">

      <input type="submit" value="Login">
    </form>

    <br>
    <br>
    <a href="{% url 'upload-students' %}">Upload dados de alunos</a>
</div>
</body>    
</html>