{% extends "base.html" %}

{% block content %}


<div id="rf">   
    <div class="container">
        <div class="row centered">
            <div class="col-lg-10 offset-lg-1">
            <h1 class="text-center" id="area_student_title">Area de feedback - {{ group.name }} de {{ group.subject}}  </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
            <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'mygroup' subject.id %}"> Back</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-lg-8 offset-lg-2 text-left" id="feedbak_container">
            <hr>
            {% for feedback in feedbacks %}
            <h4>Etapa: {{ feedback.stage.name }}</h4>
            <p>Comentário de: {{ feedback.owner.firstname }}</p>
            <p>Descrição: {{ feedback.description }}</p>
            <br>
            <hr>
            {% endfor %}
            
        </div>
    </div>
</div>

<br>


{% endblock %}