{% extends "base.html" %}

{% block content %}

<div>
    <div class="container">
        <div class="row centered text-center">
            <div class="col-lg-8 offset-lg-2">
                <h1>Sair do grupo - {{ group.name }} de {{ group.subject}} </h1>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row ">
            <div class="col-lg-1 text-left align-self-start">
                <a class="btn btn-dark" href="{% url 'mygroup' subject.id %}"> <i class="fas fa-long-arrow-alt-left"></i> Back</a>
            </div>
        </div>
    </div>


<div id="rrr">
    <div class="container">
        <div class="row centered text-center "> 
            <div class=" col-lg-4  offset-lg-4" id="tab_link">
                <br>
                <p>De certeza que quer sair deste grupo?</p>
                <br>
                <form method="POST" action="{% url 'leave-group' subject.id %}">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Sim, sair do grupo.">
                </form>
                <br>
                <!-- <a href="{% url 'mygroup' subject.id %}">Back</a> -->

            </div>
        </div>   
</div>
</div>
{% endblock %}