<!DOCTYPE html>
<html>
<head>
<title>    
</title>    
</head>
<body>
<h1>Grupo {{ group.name }} - etapa {{ stage.name }} </h1>

<p>Dar feedback sobre esta submissão</p>
<div>
    <form method="POST" action="{% url 'new-feedback' stage.id group.id %}">
        {% csrf_token %}
        <label>Descrição</label>
        <input type='text' name="description">
        <br>
        <input type="submit" value="Dar feedback">
    </form>
</div>

<a href="{% url 'this-group' group.id %}">Back</a>
</body>    
</html>