<!DOCTYPE html>
<html>
<head>
<title>    
</title>    
</head>
<body>
<h1>Area de etapas de {{subject}} </h1>
<br>
{% for stage in stages %}
    <p>{{ stage.name }}</p>
    <p>{{ stage.id }}</p>
    <p>{{ stage.description }}</p>
    <p>{{ stage.deadline }}</p>
    <br>
    {% if user.is_student %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input type="hidden" name="stage" value={{ stage.id|stringformat:"i" }}>
        <button type="submit">Upload/Update</button>
    </form>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="submission" value={{ stage.id|stringformat:"i" }}>
        <button type="submit">Download</button>
    </form>
    {% endif %}
{% endfor %}

{% if user.is_teacher %}
<p>Criar nova etapa</p>
<div>
    <form method="POST" action="{% url 'stages' subject.id %}">
        {% csrf_token %}
        <label>Nome</label>
        <input type='text' name="name">
        <br>
        <label>Descrição</label>
        <input type='text' name="description">
        <br>
        <label>Prazo</label>
        <input type='date' name="deadline">
        <br>
        <input type="submit" value="Criar etapa">
    </form>
</div>
{% endif %}
<a href="{% url 'groups-subject' subject.id %}">Back</a>
</body>    
</html>