{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1 text-center">
            <h1 class="text-center" id="area_student_title">Saiu da sua conta.</h1>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1 text-center">
            <a class="btn btn-outline-primary" href="{% url 'login-home' %}">Login</a>
        </div>
    </div>
</div>

<br>

{% endblock %}