{% extends "base.html" %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
           <h1 class="text-center" id="area_student_title">Area do grupo {{ group.name }}</h1>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 "></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
        
                <br>
                <p>Elementos:</p>
                {% for member in group.members.all %}
                <p>{{ member }}</p>
                {% endfor %}

                {% for stage in stages %}
                    <p>{{ stage.name }}</p>
                    <p>{{ stage.deadline }}</p>
                    <br>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="submission" value={{ stage.id|stringformat:"i" }}>
                        <button type="submit">Abrir projeto submetido</button>
                    </form>
                    <a href="{% url 'new-feedback' stage.id group.id %}">Dar feedback</a>

                {% endfor %}

                <a href="{% url 'groups-subject' group.subject.id %}">Back</a>
            </div>
    </div>      
</div>    
{% endblock %}