  
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1">
        <!-- <h1 class="text-center" id="area_student_title">Area de estudante : {{ user.firstname }} {{ user.surname}} <br> -->
            <h1 class="text-center" id="area_student_title"> Disciplina: {{ subject.name }}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
            <a id="link_nav" class="text-center btn btn-block btn-outline-dark" href="{% url 'forum' subject.id %}">Back</a>
        </div>
    </div>
</div>
   
<div class="container">
    <div class="row centered">
        <div class="col-lg-6 offset-lg-3">
            <div class="content-section " id="forum_container_delet_post">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="text-center">
                            <legend class="border-bottom mb-4">Eliminar Post</legend>
                        </div>
                        
                        <h2><samp> Tem certeza que quer eliminar o post: "{{ object.title }}"</samp></h2>
                    </fieldset>
                    <div class="form-group text-center">
                        <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.subject.id object.id %}">Cancel</a>
                        <button class="btn btn-danger" type="submit">Sim, Eliminar!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}